@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/placeholders";

.ResultsDial {
    @include make-room-for-sidebar;
    height: 300px;
    width: 300px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .dial-wrapper {
        position: relative;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .score {
        font-family: $font__monospace;
        margin: 0;
    }

    .label {
        margin: 0;
        font-size: 0.8em;
        color: white
    }

    .total-group {
        padding-left: 15px;
        padding-left: 15px;
        position: absolute;
        left: 0;
        left: 0;
        top: 25%;
        text-align: center;
        z-index: 1;

        .score {
            font-size: 5em;
            color: white
        }

    }

    .score-group {
        padding-right: 3em;
        padding-right: 3em;
        position: absolute;
        right: 0;
        right: 0;
        top: 1%;
        text-align: left;
        z-index: 1;

        .score {
            font-size: 1em;
            color: white
        }

        .columns {
            display: flex;
        }

        .column {
            flex: 1;
            text-align: center;
        }

    }

}


